*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
body{
    background:linear-gradient(to bottom,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0)), url(../imagenes/fondo_aloja.png) center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}
.sub_titulo{
    color: white;
    margin: 2em 0 0 2em;
    font-size: 2em;
    letter-spacing: 2px;
}
.sub_titulo::first-letter{
    border-left: solid 4px white;
    padding-left: 5px;
}
.contenedor{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6em;
    box-sizing: border-box;
    flex-wrap: wrap;
}
table{
    min-width: 70%;
    background: rgba(255, 255, 255, 0.781);
    border-radius: .5em;
    padding: .2em 1em 2em 1em;
    border-spacing: 0;
    
}
table thead tr th{
    padding: 2em 4em 1em 0;
}
table tbody tr th{
    padding: 1em;
    border: solid .1px grey;
}
table tbody tr td{
    padding: 1em;
    border: solid .1px grey;
}


.botones{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 0 3em;
}
.eliminar{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2em;

}
.eliminar a{
    padding: .4em .5em;
    border: solid 2px rgb(236, 32, 32);
    border-radius: .3em;
    text-decoration: none;
    color: rgba(44, 43, 43, 0.863);
    transition: all 200ms;
}
.eliminar a:hover{
    padding: .4em .5em;
    background: rgb(236, 32, 32);
    border-radius: .3em;
    text-decoration: none;
    color: white;
    border: solid 2px rgb(236, 32, 32);
}
.ver_mas{
    width: 4.4em;
    height: 2.3em;
    background: #14A1B9;
    border-radius: .3em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ver_mas a{
    text-decoration: none;
    color: white;
    
}
.agregar_visitante{
    position: absolute;
    right: 0;
    text-decoration: none;
    color: white;
    background: rgb(153, 0, 255);
    letter-spacing: normal;
    padding: .4em .5em;
    border-radius: .3em;
    font-size: 16px;
    margin-right: 6em;
}
.contenedor_ver_visitante{
    display: flex;
    justify-content: center;
    margin-top: 5%;
    padding: 0 0 3em 0;
}
.caja_ver_visitante{
    display: flex;
    align-content: center;
    background: rgba(255, 255, 255, 0.87);
    padding: 2em;
    width: 420px;
    border-radius: 1em;
}
.titulo_ver_visitante{
    padding-bottom: .3em;
}
.datos p {
    font-size: 16px;
    padding: 1em;
    font-weight: 600;
}
.datos p span{
    background: rgb(153, 0, 255);
    padding: .4em;
    border-radius: .4em;
    color: white;
    font-weight: 400;
}

#direccion_ver_p{
    background: rgb(153, 0, 255);
    padding: .4em;
    border-radius: .4em;
    color: white;
    font-weight: 200;
    min-width: 100px ;
    max-width: 250px;
    margin-left: 1em;
}
.broche{
    width: 25px;
    height: 25px;
    background: rgb(153, 0, 255);
    border-radius: 100%;
    position: absolute;
    margin-left: 21.5em;
    margin-top: -1em;
}
.botones_ver{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2em;
}
.eliminar_ver{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2em;
    margin-right: 9em;

}
.eliminar_ver a{
    padding: .4em .5em;
    border: solid 2px #E63A40;
    border-radius: .3em;
    text-decoration: none;
    color: rgba(44, 43, 43, 0.863);
    transition: all 200ms;
}
.eliminar_ver a:hover{
    padding: .4em .5em;
    background: #E63A40;
    border-radius: .3em;
    text-decoration: none;
    color: white;
    border: solid 2px rgb(236, 32, 32);
}
.regresar a{
    padding: .4em .5em;
    background: rgb(153, 0, 255);
    border-radius: .3em;
    text-decoration: none;
    color: white;
    margin: .4em 0 0 2em;
    position: absolute;
}

/* Estilos de Registro*/
.contenedor_registro{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.caja_titulo_form{
    width: 50%;
    background: #FFFFFF;
    margin-top: 1.5em;
    border-radius: .5em;
    box-shadow: 2px 2px 2px rgba(41, 41, 41, 0.781);
    height: 50px;
}
.agregar_visitante_form{
    padding: 2em 2em 4em 2em;
    width: 50%;
    background: #FFFFFF;
    margin-top: .7em;
    border-radius: .5em;
    box-shadow: 2px 2px 2px rgba(41, 41, 41, 0.781);
    min-height: 50vh;
}
.titulo_form{
    color: #303335;
    font-size: 26px;
    margin: .4em 0 0 1em;
    letter-spacing: 2px;
    font-weight: lighter;
}
.titulo_form span{
    color:rgb(153, 0, 255);
    margin-left: 1em;
}
.input_form{
    margin: 2em 2em 0 1em;
    font-size: 14px;
    background: none;
    outline: none;
    border: none;
    border-bottom: 1px solid rgb(153, 0, 255);
    color: black;
    width: 150px;
    height: 28px;
    transition: width 600ms;
}
.input_form::placeholder{
    color: rgb(116, 115, 115);
}
.input_form:focus{
    color: black;
    width: 160px;
}
.sexos{
    margin: 2em 0 0 3.8em;
}
.span_sexo{
    color: Black;
    margin: 0 .2em 0 .5em;
    font-weight: 600;
}

.titulo_direccion{
    font-size: 14px;
    margin: 2em 0 0 4.9em;
}
#direccion_for{
    width: 285px;
}
#direccion_for::focus{
    width: 300px;
}
.grupo_1{
    margin-top: 1em;
}
.grupo_2{
    margin-top: 1em;
}
.grupo_3{
    margin-top: 1em;
}
.grupo_3 p{
    margin-top: 1em;
    font-weight: 600;
}
.grupo_4{
    margin-top: 2em;
}
.grupo_4 span{
    margin: 0 0 0 2em;
    font-weight: 600;
}
label{
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 1px;

}
.regresar_form{
    position: absolute;
    right: 0;
    margin: -2px 5em 0 0;
}
.regresar_form a{
    padding: .4em .5em;
    background: #E63A40;
    border-radius: .3em;
    text-decoration: none;
    color: white;
}
.botones_form{
    display: flex;
    justify-content: center;
    width: 200px;
    margin-top: 8em;
}
.cancelar_form{
    padding: 1em 1em;
    background:#E63A40;
    border-radius: .3em;
    text-decoration: none;
    color: white;
    margin-right: 2em;
    border: none;
    cursor: pointer;
    font-size: 14px;
}
.aceptar_form{
    padding: 1em 1em;
    background:#00A441;
    border-radius: .3em;
    text-decoration: none;
    color: white;
    margin-right: 2em;
    border: none;
    cursor: pointer;
    font-size: 14px;
}
